.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-700);
  height: 1rem;
}

.content {
  display: flex;
  max-width: 46rem;
  flex: 1;
  gap: .5rem;
}

.content input {
  width: 100%;
}
