.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gray-700);
  height: 0.5rem;
}

.content {
  display: flex;
  max-width: 46rem;
  flex: 1;
  gap: 0.5rem;
}

.content input {
  width: 100%;
  padding: 1rem;
  color: var(--gray-100);
  background: var(--gray-500);
  outline: none;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: var(--blue-800);
  width: 6.5rem;
  background: var(--blue-800);
  color: var(--gray-100);
  cursor: pointer;
  gap: 0.2rem;
  border-radius: 8px;
}

.list {
  display: flex;
  max-width: 46rem;
  flex: 1;
  align-items: center;
  margin: auto;
  margin-top: 5rem;
  justify-content: space-between;
}

.listContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.listContent p {
  color: var(--blue-200);
}

.listContent span {
  background: var(--gray-400);
  padding: 0.2rem;
  border-radius: 50%;
  width: 1.8rem;
  text-align: center;
}

.secondListContent {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.secondListContent p {
  color: var(--purple-200);
}

.secondListContent span {
  background: var(--gray-400);
  padding: 0.2rem;
  border-radius: 50%;
  width: 1.8rem;
  text-align: center;
}
